{% extends 'base.html' %} {% block content %}
<h4 class="border-bottom">Login</h4>
<form method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
        <div class="mb-3">
            {{ form.username.label(class="form-label") }} {% if form.username.errors %} {{
            form.username(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %} {{ form.username(class="form-control") }} {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }} {% if form.password.errors %} {{
            form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %} {{ form.password(class="form-control") }} {% endif %}
        </div>
    </fieldset>
    {{ form.submit(class="btn btn-outline-info mb-3") }}
</form>
<div class="border-top pt-2">
    <small class="text-muted">
        Need an account? <a class="ml-2" href="{{ url_for('users.register') }}">Register</a>
    </small>
</div>
{% endblock content %}
