{% extends 'base.html' %} {% block content %}
<h4 class="border-bottom">Register</h4>
<form method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
        <div class="mb-3">
            {{ form.username.label(class="form-label") }} {% if form.username.errors %} {{
            form.username(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %} {{ form.username(class="form-control") }} {% endif %}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }} {% if form.email.errors %} {{ form.email(class="form-control
            is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %} {{ form.email(class="form-control") }} {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password1.label(class="form-label") }} {% if form.password1.errors %} {{
            form.password1(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password1.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %} {{ form.password1(class="form-control") }} {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password2.label(class="form-label") }} {% if form.password2.errors %} {{
            form.password2(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password2.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %} {{ form.password2(class="form-control") }} {% endif %}
        </div>
    </fieldset>
    {{ form.submit(class="btn btn-outline-info mb-3") }}
</form>
<div class="border-top pt-2">
    <small class="text-muted">
        Already have an account? <a class="ml-2" href="{{ url_for('users.login') }}">Login</a>
    </small>
</div>
{% endblock content %}
